<!--- DEBUG --->
#set( $title = "Show Events" )
#parse("public/top.vm")
<body>
    #if ($events)
    <h2>All current/upcoming events:</h2>
    <div>
            #foreach($e in $events)
                <li>
                    $e.title : $e.description
                </li>
            #end
    </div>
    #end
#parse("public/bottom.vm")