<!---DEBUG--->
#set( $title = "See recommended events" )
#parse("public/top.vm")
<body>
##    #if ($events)
    ####    <h1>All events:</h1>
    ####    <div>
    ####        <ol>
    ####        <p>
    ####            #foreach($event in $events)
    ####                <li>
    ####                    Event: $event.title
    ####                </li>
    ####            #end
    ####            </p>
    ####        </ol>
    ####    </div>
    ####    #end
    ####    #if ($users)
    ####    <h1>All users:</h1>
    ####    <div>
    ####        <ol>
    ####        <p>
    ####            #foreach($user in $users)
    ####                <li>
    ####                    User: $user.name
    ####                </li>
    ####            #end
    ####            </p>
    ####        </ol>
    ####    </div>
    ####    #end
<form action="/recommendedEvents" method="post" >
    <h2 class = "recommendedEvents">Choose a user to find recommended events:</h2>
    <fieldset>
        <div>
            <label for="user">Select User: </label>
            <select name="user" id="user">
                #foreach($u in $users)
                    <option value="$u.name" id="$u.ID">$u.name</option>
                #end
            </select>
        </div>
        <br />
        ##        <div>
        ##            <label for="individual">Select an Individual: </label>
        ##            <select name="individual" id="individual">
        ##                <option value="" id=""> -- select -- </option>
        ##            </select>
        ##        </div>
        ##        <br />
        <input type="submit" class = "submit" value="Recommended events" id="recommendedEvents" />
    </fieldset>
</form>
#parse("public/bottom.vm")

